<form ng-submit="vm.addEntry()">
    <div flex-layout="row">

        <div flex-layout>
            <md-input-container>
                <input placeholder="Description" ng-model="vm.newEntry.action">
            </md-input-container>
            <md-input-container>
                <md-select ng-model="vm.newEntry.project_id" placeholder="Project" class="md-no-underline">
                    <md-option ng-repeat="project in vm.projects.list" value="{{project.id}}">{{project.name}}</md-option>
                </md-select>
            </md-input-container>
            <div flex-gt-xs>
                <md-datepicker ng-model="vm.dates.startDate" md-placeholder="start date"></md-datepicker>
                <input type="time" ng-model="vm.dates.startDate" aria-label="start time">
            </div>
            <div flex-gt-xs>
                <md-datepicker ng-model="vm.dates.endDate" md-placeholder="end date"></md-datepicker>
                <input type="time" ng-model="vm.dates.endDate" aria-label="end time">
            </div>
            <div flex-gt-xs>
                <md-button type="submit">Submit</md-button>
            </div>


</form>
<div>
    {{vm.entries.list[0].start.getTime()}}
    <table>
        <thead>
            <th>Entry</th>
            <th>Project</th>
            <th>Date</th>
            <th>Hours</th>
            <th>Edit/Delete</th>
        </thead>
        <tbody>
            <tr ng-repeat="entry in vm.entries.list">
                <td>{{entry.action}}</td>
                <td>{{vm.fetchProject(entry.project_id)}}</td>
                <td>{{vm.displayDate(entry.start)}}</td>
                <td>{{entry.duration}}</td>
                <td>
                    <md-button ng-click="vm.deleteEntry(entry)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>