<form ng-submit="vm.addEntry()">
    <div flex-layout="row">

        

        <div flayout="row" layout-align="space-between center">
                <md-input-container>
                        <label>Task Description</label>
                        <input ng-model="vm.newEntry.action">
                    </md-input-container>
            <md-select ng-model="vm.newEntry.project_id" placeholder="Project" class="md-no-underline">
                <md-option ng-repeat="project in vm.projects.list" value="{{project.id}}">{{project.name}}</md-option>
            </md-select>
            <div flex-gt-xs>
                <md-datepicker ng-model="vm.dates.startDate" md-placeholder="start date"></md-datepicker>
                <md-input-container>
                    <input type="time" ng-model="vm.dates.startDate" aria-label="start time">
                </md-input-container>
            </div>
            <div flex-gt-xs>
                <md-datepicker ng-model="vm.dates.endDate" md-placeholder="end date"></md-datepicker>
                <md-input-container>
                    <input type="time" ng-model="vm.dates.endDate" aria-label="end time">
                </md-input-container>
            </div>
            <div flex-gt-xs>
                <md-button type="submit">Submit</md-button>
            </div>


</form>
<div>

    <p>{{vm.newEntry}}</p>
    <p>{{vm.dates}}</p>
    <p>{{vm.entries}}</p>
    <p>{{vm.projects}}</p>
</div>