
<md-card flex=80>
    <md-card-title>
        <h3>Add Project</h3>
    </md-card-title>
    <md-card-content flex-layout="row">
        <form ng-submit="vm.addProject()">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Project Name</label>
                <input ng-model="vm.newProject.name" />
            </md-input-container>
            <md-button type="submit">Create</md-button>
        </form>
    </md-card-content>
</md-card>

<div layout-padding layout-margin>
        <h3>All Projects</h3>
        <table style="width: 80%">
            <thead>
                <th>Project Name</th>
                <th>Total Hours</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr ng-repeat="project in vm.projects.list">
                    <td>{{project.name}}</td>
                    <td>{{project.total_hours}}</td>
                    <td>
                        <md-button ng-click="vm.deleteProject(project)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
